body{
    background-color: #167C32;
    margin: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 20px;
    width:97%;
    background-color: white;
}

th, td{
    padding:10px;
}

code {font-size: 120%;}

pre code {
    line-height: 140%;
    margin-left: 30px;
    width: 650px;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0px;
}